Mixpanel_Dashboard_Access_Date.json
{
  "name": "Mixpanel Dashboard Access Date",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "8fdc91b3-d024-4b24-aa24-cd77461c9466",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $('Get Company ID from Deal ID').item.json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"first_dashboard_access_date\": \"{{ $json.hubspotTimestamp }}\"\n  }\n}",
        "options": {}
      },
      "id": "e12643fc-d4da-493d-b96e-ba1d8ca311dc",
      "name": "Update Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.results.properties.hs_object_id }}/associations/companies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "45ab89a2-f3e6-4602-a050-886b65e9f9e0",
      "name": "Get Company ID from Deal ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        420
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "ced4aa21-11ba-4923-8a71-62f2a719296a",
      "name": "Retrieve company domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8eb1cbad-cd0b-40a4-bd83-8411d86b71ce",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "080d593b-c040-4ad6-924b-ca808322252a",
              "leftValue": "={{ $json.hubspotTimestamp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3793511c-f77d-4867-85fd-5dd1548fd853",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        420
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $now }}",
        "duration": 30,
        "outputFieldName": "timestamp30DaysAgo",
        "options": {}
      },
      "id": "f578ca39-15ab-49f1-b05c-45e408185b00",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"pipeline\",\n          \"operator\": \"EQ\",\n          \"value\": \"default\"\n        },\n        {\n          \"propertyName\": \"dealstage\",\n          \"operator\": \"EQ\",\n          \"value\": \"closedwon\"\n        },\n        {\n          \"propertyName\": \"dealtype\",\n          \"operator\": \"EQ\",\n          \"value\": \"newbusiness\"\n        },\n        {\n          \"propertyName\": \"closedate\",\n          \"operator\": \"GTE\",\n          \"value\": \"{{ $('Date & Time').item.json[\"timestamp30DaysAgo\"] }}\"\n        }\n      ]\n    }\n  ],\n  \"limit\": 200\n}",
        "options": {}
      },
      "id": "057d086c-8cc0-4125-af2e-eed0e1b8b34b",
      "name": "GET Closed Won Deals in Last 30 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "e513dd76-4ee9-4b43-942e-9a777c6a9d7e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1020,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://data.mixpanel.com/api/2.0/export",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from_date",
              "value": "2017-01-01"
            },
            {
              "name": "to_date",
              "value": "={{ $today }}"
            },
            {
              "name": "where",
              "value": "=properties[\"tenant_email_domain\"] == \"{{ $json.properties.domain }}\""
            },
            {
              "name": "event",
              "value": "[\"Dashboard\"]"
            },
            {
              "name": "project_id",
              "value": "1998847"
            }
          ]
        },
        "options": {}
      },
      "id": "99c6b798-eca0-4552-8fec-928fb8829a74",
      "name": "GET Dashboard Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AMEXGcFl3daiEqWN",
          "name": "Mixpanel Header Auth"
        },
        "httpBasicAuth": {
          "id": "jYBMSfsxXCNqAD3b",
          "name": "Mixpanel"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json[\"data\"];\nconst events = data ? data.split(\"\\n\").filter(Boolean) : [];\nlet earliestEvent = null;\nlet earliestTime = Infinity;\nfor (const eventStr of events) {\n    try {\n        const event = JSON.parse(eventStr);\n        const eventTime = event.properties.time;\n        if (eventTime < earliestTime) {\n            earliestTime = eventTime;\n            earliestEvent = event;\n        }\n    } catch (error) {\n        console.error(\"Failed to parse event:\", error);\n    }\n}\nif (earliestEvent) {\n    const firstEventDate = new Date(earliestTime * 1000).toISOString();\n    const date = new Date(firstEventDate);\n    const hubspotTimestamp = date.getTime();\n    return {\n        json: {\n            hubspotTimestamp\n        },\n    };\n} else {\n    return {\n        json: {\n            message: \"No events found\",\n        },\n    };\n}\n"
      },
      "id": "2005eb08-4808-4a16-8abb-0cdd71ba613f",
      "name": "First Access TimeStamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        420
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pXhkIETCst20Jxjp9zg6OzbmTqbY_pElcMpxsn2Zt2I",
          "mode": "list",
          "cachedResultName": "Companies Missing Activation Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXhkIETCst20Jxjp9zg6OzbmTqbY_pElcMpxsn2Zt2I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "n8n data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXhkIETCst20Jxjp9zg6OzbmTqbY_pElcMpxsn2Zt2I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Domain": "={{ $('Retrieve company domain').item.json.properties.domain }}",
            "Name": "={{ $('Retrieve company domain').item.json.properties.name }}"
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "efc11e79-8666-4532-9759-31f66e0f5d91",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1760,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HqbHrSkas3OPAXBF",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company ID from Deal ID": {
      "main": [
        [
          {
            "node": "Retrieve company domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve company domain": {
      "main": [
        [
          {
            "node": "GET Dashboard Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Company ID from Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "GET Closed Won Deals in Last 30 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Closed Won Deals in Last 30 Days": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Dashboard Events": {
      "main": [
        [
          {
            "node": "First Access TimeStamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Access TimeStamp": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bd5a25a-fc89-488b-b9dd-49491cf03a5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f35844c20bd7f8456f907e3b5a901af1cf08cec7fee985138953357fd244e5bd"
  },
  "id": "mVveUHW4ul7DejMn",
  "tags": []
}